h1{
    text-align: center;
}
#itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
#map { height: 600px;
    width: 800px;
    margin: auto;
border-radius: 5%;
 
}
body{
    color: #ef4f30;
}
#botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchButton{
    background-color: #ef4f30;
    color: white;
    border: none;
    border-radius: 15%;
    
}